
.header {
    height: 20%;
    width: 100%;
    background-color: gray;
    position: fixed;
    top:0px;
}





.navigation {
    height: 70%;
    width: 20%;
    background-color: orange;
    top: 20%;
    position: fixed;
    left:10px;
}


.content {
    top: 20%;
    height: 70%;
    width: 80%;
    left: 21%;
    position: fixed;
    background-color:lightblue;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: gray;
    position: fixed;
    bottom: 0px
}
.h1{
    color: orange;
}
.h2{
    font-style:italic;
}


